body {
  margin: 0;
  color: #fff;
  background-color: #fff;
  height: 100%;
  box-sizing: border-box
  }

@media only screen and (max-width: 800px) {
  html{
      width: 1200px;
      overflow: auto;}
  h1 {
    font-size: 1.8em;}
  .sticky {
    height: 8em;}
  .page-header-navbar {
    font-size: 2.5em;}
  .title-h1 {
    margin-top: 2em;
    font-size: 6em;}
  .title-h2 {
    font-size: 2.7em;}  
  section.middle {
    height: 2000px;}
  .quote_text {
    font-size: 2em;
    padding-top: 1.8em;}
  #about-text {
    font-size: 1.8em;} 
  .timeline-item p {
    font-size: 2em;}
  .timeline-item h1 {
    margin-top: 0.5em;
    font-size: 3em;}
  .timeline-item::before {
    top: 0.2em;
    font-size: 1.8em;}
  .divider-title {
    border-bottom: #e2e6e8 4px solid;
    width: 37%;
    margin: 2.5rem 0;}
  .divider {
    border-bottom: #e2e6e8 4px solid;
    width: 30%;
    margin: 2rem 0;}
  .seperator {
    width: 1%;}
  .page-content {
    width: 23%;}
  .content {
    width: 40%;}
  li {
    font-size: 1.8em;}
  .star {
    width: 80px;
    height: 80px;}
  #title {
    font-size: 3.5em;}
  .listbox {
    height: 500px;
    width: 49%;}
  .list {
    margin-top: 2em;}
  .a {
    margin-top: 2em;}
  .a p {
    font-size: 1.8em;}
  #sub {
    font-size: 2em;}
  section.family {
    height: 850px;}
  i {
    height: 300px;
    width: 240px;}
  .career {
    height: 800px;}
  .scroll {
    height: 650px;}
  section.bottom {
    height: 15rem;}
  .i p,pre {
    font-size: 1.3em;}
  .box p,pre {
    font-size: 1.5em;}
  #footer {
    font-size: 1.7em;}
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 1.4em;}
  .sticky {
    height: 3.4em;}
  .page-header-navbar {
    font-size: 1em;}
  .title-h1 {
    margin-top: 3em;
    font-size: 4em;}
  .title-h2 {
    font-size: 1.7em;} 
  .quote_text {
    font-size: 1.5em;
    padding-top: 2.5em;}
  section.middle {
    height: 1350px;}
  #about-text {
    font-size: 1.35em;} 
  .timeline-item p {
    font-size: .9em;}
  .timeline-item h1 {
    font-size: 1.3em;}
  .timeline-item::before {
    top: 1em;
    font-size: 0.8rem;}
  .divider-title {
    border-bottom: #e2e6e8 1px solid;
    width: 43%;
    margin: 1.3rem 0;}
  .divider {
    border-bottom: #e2e6e8 1px solid;
    width: 34%;
    margin: 1.5rem 0;}
  .seperator {
    width: 1%;}
  .page-content {
    width: 11%;}
  .content {
    width: 30%;}
  li {
    font-size: 1.1em;}
  .star {
    width: 40px;
    height: 40px;}
  #title {
    font-size: 1.7em;}
  .listbox {
    height: 250px;
    width: 49%;}
  .a {
    margin: 1%;}
  .a p {
    font-size: 0.9em;}
  #sub {
    font-size: 1.2em;}
  section.family {
    height: 775px;}
  i {
    height: 250px;
    width: 200px;}
  .career {
    height: 600px;}
  .scroll {
    height: 500px;}
  section.bottom {
    height: 13rem;}
  .i p,pre {
    font-size: 0.9em;}
  .box p,pre {
    font-size: 0.9em;}
  #footer {
    font-size: 1em;}

}

p,pre {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
  }

/* - Navbar-----------------------------------------*/
.sticky {
  position: sticky;
  top: 0;
  background-color: #1b1c1d!important;
  z-index: 10;
  width: 100%;
  margin: 0
  }

.page-header-navbar {
  background-color: #1b1c1d;
  margin: 0;
  margin-left: 4em;
  height: 3.2em;
  width: 80%;
  display: flex;
  color: #acb9bb;
  float: left
  }

.page-header-navbar {
  display: flex;
  align-items: center;
  padding: 0;
  
  float: left
  }

.page-header-navbar a {
  color: #eceff0;
  text-decoration: none;
  margin: 0 1em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 300
  }

.page-header-navbar a:hover {
  color: #86999c
  }

/* Header -----------------------------------------*/
.header {
  background-color: #1b1c1d;
  margin: 0;
  height: 650px;
  width: 100%;
  display: flex;
  color: #acb9bb;
  }

.title-container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 0;
  }

.title-h1 {
  color: #fff;
  font-weight: 400;
  }

.title-h2 {
  color: #fff;
  font-weight: 400;
  }

/* "About" section-----------------------------------------*/
.about {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 5em 0;
  }

.info {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 650px;
  height: 700px;
  margin: 3em;
  }

#about-subtitle {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.3em;
  color: #2c2c2c;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

#about-text {
  color: #1b1b1bde;
  font-weight: 400;
  }

.portrait {
  height: 600px;
  width: 450px;
  margin: 3em;
  border-radius: .5em;
  }

/* Quote-----------------------------------------*/
.quote {
  width: 100%;
  height: 10em;
  background-color: #1b1c1d;
  text-align: center;
  }

.quote_text {
  font-weight: 400;
  }

/* "Career" & "Awards" - Middle section-----------------------------------------*/
section.middle {
  width: 100%;
  }

.career {
  width: 1200px;
  margin: auto;
  }

.page-content {
  display: inline-block;
  text-align: center;
  height: 3.5%;
  margin: 0;
  }

.divider-title {
  display: inline-block;
  }

.title {
  width: 1200px;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 3rem;
  padding-bottom: 2em;
  }

.bt {
  width: 100%;
  height: 4em;
  }

.divider {
  display: inline-block;
  }

.content {
  display: inline-block;
  text-align: center;
  height: 3.5%;
  margin: 0;
  }

#title {
  color: #2c2c2c;
  margin: 0;
  padding-top: .2em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

h1 {
  color: #2c2c2c;
  margin: 0;
  padding-top: .2em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

.star {
  float: left;
  filter: opacity(85%);
  margin: 0 auto 0;
  margin-top: -.1em;
  }

.scroll {
  border: none;
  width: 800px;
  overflow-y: scroll;
  margin: 0 auto 0;
  box-shadow: 3px 3px 10px #e2e6e8;
  }

/* Timeline */
.timeline-wrapper {
  max-width: 1024px;
  width: 100%;
  }

.timeline-item {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(0,0,0,.7);
  border-left: 2px solid rgba(0,0,0,.3);
  }

.timeline-item p {
  font-weight: 400;
  color: #2c2d2e;
  }

.timeline-item h1 {
  font-weight: 700;
  }

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: 700;
  display: block;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  }

.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0,0,0,.3);
  background: #fff;
  }

.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom,rgba(0,0,0,.3) 60%,rgba(0,0,0,0)) 1 100%;
  border-image: linear-gradient(to bottom,rgba(0,0,0,.3) 60%,rgba(0,0,0,0)) 1 100%;
  }

/* "Awards" page */
.awards {
  width: 1200px;
  height: 1000px;
  margin: auto;
  }

.award {
  display: inline-block;
  width: 100%;
  height: 8rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  text-align: center;
  }

.a {
  display: inline-block;
  vertical-align: top;
  border: 1px #cfd1d1 solid;
  width: 40%;
  padding: 1em;
  height: fit-content;
  border-radius: .5rem;
  box-shadow: 3px 3px 10px #e2e6e8;
  text-align: left;
  }

#a {
  width: 85%;
  }

.a p {
  margin: 0;
  padding: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  }

.tesla {
  display: inline-block;
  width: 49%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  }

#sub {
  color: #222;
  font-weight: 700;
  margin: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

#year {
  color: #585757d2;
  margin-bottom: .5em;
  }

#context {
  color: #585858;
  }

.creations {
  width: 1150px;
  height: fit-content;
  margin: 0 auto 0;
  margin-top: 5em;
  margin-bottom: 1em;
  }

.listbox {
  display: inline-block;
  margin: 0 auto 0;
  }

.seperator {
  display: inline-block;
  margin: 0;
  }

.list {
  width: 100%;
  }

li {
  color: #222;
  text-align: left;
  display: list-item;
  height: 1.2rem;
  height: fit-content;
  }

/* "Family" section-----------------------------------------*/
section.family {
  width: 1200px;
  margin: .5em auto 0;
  }

.family-member {
  margin: auto;
  text-align: center;
  }

.i {
  display: inline-block;
  text-align: center;
  margin: 1.5em auto;
  padding: 0 .5em;
  }

.photo {
  margin-bottom: 1em;
  height: 200px;
  width: 150px;
  border-radius: .6em;
  }

.i p,pre {
  margin: 4px 0;
  color: #4d4d4d;
  }

/* Bottom section-----------------------------------------*/
section.bottom {
  display: inline-block;
  background-color: #1b1c1d;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  bottom: 0;
  }

.line {
  vertical-align: top;
  display: inline-block;
  border-right: #333 1px solid;
  width: 1px;
  height: 11em;
  margin-top: 1em;
  }

.box {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  height: 10em;
  width: 15rem;
  margin: 2% 1%;
  }

.box p,pre {
  margin: 4px 0;
  color: #ddd;
  }

#author {
  width: 18em;
  }

#tech {
  width: 9em;
  }

#content {
  width: 25em;
  }

#source {
  width: 5em;
  }

#footer {
  color: #fff;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: none;
  margin: 0;
  margin-bottom: 1em;
  margin-top: -.15em;
  height: 1rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

.link {
  color: rgb(172, 163, 163);
  text-decoration: none;
  }

.box a:hover {
  color: #fff;
  }
