body {
    margin: 0;
    color: #ffffff;
    background-color: white;
    height: 100%;
    box-sizing: border-box;
  }

p,pre {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

/* - Navbar
-----------------------------------------*/

.sticky {
  position: sticky;
  top: 0;
  background-color: #1b1c1d!important;
  z-index: 10;
  width: 100%;
  height: 3.4em;
  margin: 0;
}

.page-header-navbar {
  background-color: #1b1c1d;
  margin: 0;
  margin-left: 4em;
  height: 3.2em;
  width: 90%;
  display: flex;
  color: #ACB9BB;
  float: left;
}

.page-header-navbar {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1rem;
  float: left;
}

.page-header-navbar a {
  color: #eceff0;
  text-decoration: none;
  margin: 0 1em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 300;
}

.page-header-navbar a:hover {
  color: #86999c;
}

.blank {
  width: 40%;
}


/* Header 
-----------------------------------------*/
.header {
  background-color: #1b1c1d;
  margin: 0;
  height: 650px;
  width: 100%;
  display: flex;
  color: #ACB9BB;
}

.title-container {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 0;
}

.title-h1 {
  color: white;
  font-size: 4em;
  font-weight: normal;
  margin-top: 3em;
}

.title-h2 {
  color: white;
  font-size: 1.7em;
  font-weight: normal;
}

  /* "About" section
-----------------------------------------*/

.about {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 5em 0;
}

.info {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 700px;
  height: 600px;
  margin: 3em
}

#about-subtitle {
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1.3em;
  color: rgb(44, 44, 44);
}

#about-text {
  color: #1b1b1bde;
  font-size: 1.35em;
  font-weight: 400;
}

.button {
  padding: 0.5em 1.2em;
  background-color: #d8dfe0;
  color: #4d4d4d;
  border-radius: 0.3em;
  margin: 5em auto 0;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

.button img {
  width: 30px;
  height: 30px;
  filter: opacity(70%);
}

.portrait {
  height: 600px;
  width: 450px;
  margin: 3em;
  border-radius: 0.5em;
}

  /* Quote
-----------------------------------------*/

.quote {
  width: 100%;
  height: 10em;
  background-color: #1b1c1d;
  text-align: center;
}

.quote_text {
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 2.5em;
}

  /* "Career" & "Awards" - Middle section
-----------------------------------------*/

section.middle {
    height: 1350px;
    width: 100%;
}

.career {
  width: 1200px;
  height: 600px;
  margin: auto;
}

.page-content {
  display: inline-block;
  text-align: center;
  width: 11%;
  height: 3.5%;
  margin: 0;
}

.divider-title {
  display: inline-block;
  border-bottom: #e2e6e8 1px solid;
  width: 43%;
  margin: 1.3rem 0;
}

.title {
  width: 1200px;
  text-align: center;
  margin: 0 auto 0;
  padding-top: 3rem;
  padding-bottom: 2em;
}

.bt {
  width: 100%;
  height: 4em;
}

.divider {
  display: inline-block;
  border-bottom: #e2e6e8 1px solid;
  width: 34%;
  margin: 1.5rem 0;
}

.content {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: 3.5%;
  margin: 0;
}

#title {
  color: rgb(44, 44, 44);
  font-size: 1.7em;
  margin: 0;
  padding-top: 0.2em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

h1 {
  color: rgb(44, 44, 44);
  font-size: 1.4em;
  margin: 0;
  padding-top: 0.2em;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.star {
  width: 40px;
  height: 40px;
  float: left;
  filter: opacity(85%);
  margin: 0 auto 0;
  margin-top: -0.1em;
}

/* Scrollbox */

.scroll {
  border: none;
  width: 800px;
  height: 500px;
  overflow-y: scroll;
  margin: 0 auto 0;
  box-shadow: 3px 3px 10px #e2e6e8;
}

::-webkit-scrollbar {
  display: block;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
  ::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-right: none;
  border-left: none;
  border-radius: 20px;
}

/* Timeline */

.timeline-wrapper {
  max-width: 1024px;
  width: 100%;
}
.timeline-item {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.timeline-item p {
  font-size: 0.9em;
  font-weight: 400;
  color: #2c2d2e;
}
.timeline-item h1 {
  font-size: 1.3em;
  font-weight: 700;
}
.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -7px;
  border-radius: 10px;
  content: "";
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
     border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

/* "Awards" page */

.awards {
  width: 1200px;
  height: 1000px;
  margin: auto;
}

.award {
  display: inline-block;
  width: 100%;
  height: 8rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
  text-align: center;
}

.a {
  display: inline-block;
  vertical-align: top;
  border: 1px #cfd1d1 solid;
  width: 40%;
  padding: 1em;
  height: fit-content;
  margin: 1%;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px #e2e6e8;
  text-align: left;
}

#a {
  width: 85%;
}

.a p {
  margin: 0;
  padding: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.4em;
}

.tesla {
  display: inline-block;
  width: 49%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: #222;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

#year {
  color: #a1a1a1d2;
  margin-bottom: 0.5em;
}

#context {
  color: rgb(88, 88, 88);
}

.creations {
  width: 1200px;
  height: 250px;
  margin: 0 auto 0;
  margin-top: 5em;
  margin-bottom: 1em;
}

.listbox {
  display: inline-block;
  width: 49%;
  height: 250px;
  margin: 0 auto 0;
}

.seperator {
  display: inline-block;
  width: 1%;
  margin: 0;
}

.list {
  width: 100%;
}

li {
  color: #222;
  text-align: left;
  display: list-item;
  height: 1.2rem;
  font-size: 1.1rem;
  height: fit-content;
}

  /* Awards - Bottom section
-----------------------------------------*/

section.family {
  width: 1200px;
  height: 725px;
  margin: 0.5em auto 0;
}

.family-member {
  margin: auto;
  text-align: center;
}

.i {
  display: inline-block;
  text-align: center;
  margin: 1.5em auto;
  padding: 0 0.5em;
  width: 200px;
  height: 250px;
}

.photo {
  margin-bottom: 1em;
  height: 200px;
  width: 150px;
  border-radius: 0.6em;
}

.i p,pre {
  margin: 4px 0;
  color: #4d4d4d;
  font-size: 0.9em;
}

  /* Awards - Bottom section
-----------------------------------------*/

section.bottom {
  display: inline-block;
  background-color: #1b1c1d;
  width: 100%;
  height: 13rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.line {
  vertical-align: top;
  display: inline-block;
  border-right: #333 1px solid;
  width: 1px;
  height: 11em;
  margin-top: 1em;
}

.box {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  height: 10em;
  width: 15rem;
  margin: 2% 1%;
}

.box p,pre {
  margin: 4px 0;
  color: #dddddd;
  font-size: 0.9em;
}

#author {
  width: 18em;
}

#tech {
  width: 7em;
}

#content {
  width: 25em;
}

#source {
  width: 5em;
}

h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: none;
  margin: 0;
  margin-bottom: 1em;
  margin-top: -0.15em;
  height: 1rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.link {
  color: gray;
  text-decoration: none;
}

.box a:hover {
  color: #fff;
}